.dialog-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.dialog-error {
  margin-block: 0 0.5rem;
  min-height: var(--mat-sys-body-small-line-height);
  color: var(--mat-sys-error);
  font: var(--mat-sys-body-small);
}
