mat-toolbar {
  justify-content: space-between;
  background-color: var(--mat-sys-secondary-container);
  color: var(--mat-sys-primary);
}

mat-toolbar button {
  color: var(--mat-sys-primary);
}

.app-title {
  font-size: 1.5rem;
  font-weight: 600;
  letter-spacing: 0.5px;
  cursor: pointer;
}

a.active:focus:not(:hover)::before {
  opacity: 0;
}

mat-sidenav-container {
  flex: 1;
}

.toolbar-brand {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

mat-sidenav {
  width: 220px;
  padding: 0 0.5rem;
  border-radius: 0;
  border-right: 1px solid var(--mat-sys-outline-variant);
}
