.filters-container {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.filters-container mat-form-field {
  min-width: 180px;
}

.search-field {
  flex: 1;
}

.clear-btn {
  display: flex;
  justify-content: end;
  visibility: hidden;
}

.clear-btn.active {
  visibility: visible;
}
