.filter-container {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.filter-container mat-form-field {
  min-width: 180px;
}

.search-field {
  flex: 1;
}

.clear-btn {
  visibility: hidden;
  display: flex;
  justify-content: flex-end;
  margin-bottom: 0.25rem;
}

.clear-btn.active {
  visibility: visible;
}
