.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 2rem 1rem;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header .btn-add {
  text-decoration: none;
  background-color: var(--accent);
  border-radius: 6px;
  padding: 0.5rem 1rem;
  color: white;
  font-weight: 600;
}

.header .btn-add:hover {
  opacity: 0.8;
}

.summary {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-top: 1rem;
}
.summary-card {
  flex: 1;
  background-color: var(--bg-card);
  border: 1px solid var(--border);
  border-radius: 6px;
  padding: 1rem 1.5rem;
  text-align: center;
  box-shadow: 0px 4px 12px var(--shadow);
}

.summary-card .amount.income {
  color: var(--income);
}

.summary-card .amount.expense {
  color: var(--expense);
}

.summary-card .label {
  font-size: 0.8rem;
  color: var(--text-muted);
}
.summary-card .amount {
  font-size: 1.2rem;
  color: var(--text-primary);
  font-weight: bold;
}

.transactions {
  margin-top: 1rem;
}

.transactions h2 {
  font-size: 0.8rem;
  color: var(--text-muted);
  text-transform: uppercase;
  margin-bottom: 1rem;
}

.transaction-item {
  display: flex;
  justify-content: space-between;
  background-color: var(--bg-card);
  border: 1px solid var(--border);
  border-radius: 6px;
  padding: 1rem;
  margin-bottom: 1rem;
  box-shadow: 0px 4px 12px var(--shadow);
}

.transaction-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.transaction-right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}

.transaction-description {
  font-weight: 500;
  color: var(--text-primary);
}

.transaction-date {
  font-size: 0.8rem;
  color: var(--text-muted);
}

.transaction-amount {
  font-weight: bold;
}

.transaction-amount.income {
  color: var(--income);
}

.transaction-amount.expense {
  color: var(--expense);
}

.btn-delete {
  color: var(--text-muted);
  font-size: 0.7rem;
  border: none;
  background-color: transparent;
  font-weight: bold;
  cursor: pointer;
}

.btn-delete:hover {
  color: var(--expense);
}
