.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 2rem 1rem;
}

.task-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.filter-container {
  display: flex;
  gap: 2rem;
}
