@if (forecast().length > 0) {
  <div class="forecast">
    <h3>5-day forecast</h3>
    <div class="forecast-list">
      @for (item of forecast(); track item.dt_txt) {
        <div class="forecast-item">
          <p class="forecast-date">{{ item.dt_txt | slice: 0 : 10 }}</p>
          <p class="forecast-temp">{{ item.main.temp | number: '1.0-1' }}ºC</p>
          <p class="forecast-description">{{ item.weather[0].description }}</p>
          <img [src]="getIconUrl(item.weather[0].icon)" />
        </div>
      }
    </div>
  </div>
}
