form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  padding-top: 0.5rem;
}

mat-form-field {
  width: 100%;
}

mat-form-field:nth-child(5) {
  grid-column: 1 / -1;
}

mat-dialog-actions {
  grid-column: 1 / -1;
}
