<h2 mat-dialog-title>
  @if (data) {
    Edit Task
  } @else {
    Add a new Task
  }
</h2>
<mat-dialog-content>
  <form [formGroup]="newTaskForm">
    <mat-form-field>
      <mat-label>Name</mat-label>
      <input matInput formControlName="name" [errorStateMatcher]="errorMatcher" />
      <mat-error>Name is required</mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Assignee</mat-label>
      <mat-select formControlName="assignee" [errorStateMatcher]="errorMatcher">
        @for (member of members; track member) {
          <mat-option [value]="member">{{ member }}</mat-option>
        }
      </mat-select>
      <mat-error>Assignee is required</mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Status</mat-label>
      <mat-select formControlName="status" [errorStateMatcher]="errorMatcher">
        <mat-option value="pending">Pending</mat-option>
        <mat-option value="in-progress">In progress</mat-option>
        <mat-option value="done">Done</mat-option>
      </mat-select>
      <mat-error>Status is required</mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Priority</mat-label>
      <mat-select formControlName="priority" [errorStateMatcher]="errorMatcher">
        <mat-option value="low">Low</mat-option>
        <mat-option value="medium">Medium</mat-option>
        <mat-option value="high">High</mat-option>
      </mat-select>
      <mat-error>Priority is required</mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Description</mat-label>
      <textarea matInput formControlName="description"></textarea>
    </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button matButton="filled" (click)="onSubmit()">
    @if (data) {
      Edit Task
    } @else {
      Add Task
    }
  </button>
  <button matButton mat-dialog-close>Cancel</button>
</mat-dialog-actions>
