<div class="filters-container">
  @if (role() === 'admin') {
    <mat-form-field appearance="outline" class="search-field">
      <mat-label>Search by email</mat-label>
      <input matInput #searchInput (input)="searchChange.emit(searchInput.value)" />
    </mat-form-field>
  }
  <mat-form-field appearance="outline">
    <mat-label>Status</mat-label>
    <mat-select
      #statusLeaveRequest
      [value]="selectedStatus()"
      (selectionChange)="statusChange.emit(statusLeaveRequest.value)"
    >
      @for (status of statusOptions; track status) {
        <mat-option [value]="status">{{ status | titlecase }}</mat-option>
      }
    </mat-select>
  </mat-form-field>
</div>
