<mat-toolbar>
  <span>TimeTrack</span>
</mat-toolbar>
<mat-sidenav-container>
  <mat-sidenav mode="side" opened>
    <mat-nav-list>
      @for (link of links(); track link.route) {
        @if (link.pending) {
          <a mat-list-item disabled>{{ link.label }}</a>
        } @else {
          <a
            mat-list-item
            [routerLink]="link.route"
            routerLinkActive
            #linkActive="routerLinkActive"
            [activated]="linkActive.isActive"
            >{{ link.label }}</a
          >
        }
      }
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet />
  </mat-sidenav-content>
</mat-sidenav-container>
